part5/example/.eslintrc.cjs
part5/example/.gitignore
part5/example/db.json
part5/example/index.html
part5/example/package-lock.json
part5/example/package.json
part5/example/README.md
part5/example/vite.config.js
part5/example/public/vite.svg
part5/example/src/App.jsx
part5/example/src/db.json
part5/example/src/Footer.jsx
part5/example/src/index.css
part5/example/src/main.jsx
part5/example/src/Note.jsx
part5/example/src/Notification.jsx
part5/example/src/assets/react.svg
part5/example/src/services/login.js
part5/example/src/services/notes.js
